@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family-base: 'Inter', sans-serif;
    --font-size-base: 16px;
    --line-height-base: 1.5;
    --color-text: #2B2B2B;
    --color-background: #FCFBFF;

}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--color-text);
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
}

.main {
    margin: 0 auto;
}

.content-container {
    max-width: 1022px;
    margin: 0 auto;
}

.headerlayout {
    height: 82px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 16px;
}

.header {
    height: 82px;
    width: 100vw;
    background-color: #FFFFFF;
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E0E0E0;
}

.header__logo-box {
    max-width: 140px;
    max-height: 37px;
    margin-left: 20px;
}

.header__nav {
    position: relative;
    flex-basis: auto;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__list {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header_actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 30px;
}

.header__text-box {
    margin: 0px 4px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    justify-content: space-around;
}

.divider {
    width: 1px;
    height: 24px;
    background-color: #BEBEBE;
}

.header__link {
    color: #2B2B2B;
    margin: 0px 4px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    justify-content: space-around;
}


.header__buttonpri {
    background-color: #FFFFFF;
    color: #652BDF;
    border: solid 1px #652BDF;
    margin: 0px 4px;
    padding: 6px 24px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: 700;
}

.header__buttonpri:hover {
    background-color:#e4d7ff;
    cursor: pointer;
    color:#360c72;
}

.header__buttonsec {
    background-color: #652BDF;
    color: #FFFFFF;
    border: solid 1px #652BDF;
    margin: 0px 4px;
    padding: 6px 24px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: 700;
}

.header__buttonsec:hover {
    background-color:#e4d7ff;
    cursor: pointer;
    color:#360c72;
}

.header__mobile{
    display: none;
}

.titles__center {
    text-align: center;
    width: 100%;
    margin: 8px 0px;
    font-size: 40px;
    line-height: 2.625rem;
    font-weight: 700;
    letter-spacing: -0.045em;
    color: #2B2B2B;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
}

.card__title {
    max-width: 262px;
    /* max-height: 52px;*/
    font-size: 24px;
    width: 100%;
    min-height: 28px;
    line-height: 1.625rem;
    padding
}

.card__text {
    font-size: 18px;
    max-width: 269px;
    width: 100%;
    color: #6a6a6a;
}

.cards-primary {
    background-color: #FFFFFF;
    margin: 12px 0px 0px;
    padding: 24px;
    border-radius: 16px;
    max-width: 317px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card__icon {
    border-radius: 8px;
    background-color: #f0eafc;
    width: 62px;
    height: 62px;
    padding: 19px;
    color: #652BDF;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b0071;
    padding: 40px 60px;
    border-radius: 32px;
    color: white;
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 1022px;
}

.texto-contenido h1 {
    margin: 0 0 10px 0;           
    font-size: 2.5rem;
}

.texto-contenido p {
    margin: 0;
    font-size: 1.1rem;
}

.boton-conocer {
    background-color: white;
    color: #5d21d1;
    padding: 15px 35px;
    border-radius: 50px;           
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;           
}

.divider-horizontal {
    height: 32px;
}

.content-container .payment-options__layout {
    display: flex;
    align-items: center;
}

.payment-options__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
}

.payment-options--title {
    margin: 8px 0 24px 0;
}

.payment-options--subtitle {
    margin-bottom: 36px;
    font-size: 16px;
}

.payment-options-card {
    display: flex;
    flex-direction: row;
    border-radius: 32px;
    background-color: #FFFFFF;
    margin-bottom: 48px;
    max-width: 1022px;
    width: 100%;
    overflow: hidden;
}

.card-reverse {
    flex-direction: row-reverse;
}

.payment-options-text-action {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
}

.payment-options-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-width: 50%;
}

.payment-options-card-title {
    font-size: 30px;
    line-height: 2rem;
    margin-bottom: 24px;
}

.payment-options-card-subtitle {
    font-size: 18px;
    -webkit-text-size-adjust: 100%;
}

.payment-options--image {
    width: 100%;
    max-width: 511px;
    height: auto;
    transition: transform .4s ease;
    transform-origin: 50% 50%;
}

.payment-options-text-action .btn-medium {
    min-height: 46px;
}


.btn-primary.hover-strong:hover {
    background-color: var(--color-primary-900);
    color: var(--color-neutral-100);
}

.payment-options--image:hover {
    transform: scale(1.05);
}

.footer {
    background-color: #FFFFFF;
    padding: 20px;
}

.footer__logo-box {
    max-width: 46px;
    max-height: 44px;
    top: 16px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 8px;
}

.footer__line {
    flex: 1;
    margin-right: 24px;
}

.footer__linklist__title {
    font-weight: 700;
    line-height: 1.5rem;
    text-decoration: none;
}

.footer__layout {
    display: flex;
    flex-direction: column;
    max-width: 1022px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 20px;
    gap: 8px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5rem;
    display: block;
}

.footer__link:hover {
    text-decoration: underline;
    color: #652BDF
}


@media (width < 992px)
{
    
    .header__nav
    {
        display: none;
    }
    .header__mobile
    {
        display: block;
        width: 100%;
        min-width: 300px;
    }
    .header__layout
    {
        display: flex;
        justify-content: center;
        min-height: 72px;
        align-items: center;
        flex-wrap: nowrap;
        position: relative;
        width: 100%;
    }
    .icon-mobile-btn
    {
        font-size: 24px;
        background: none;
        border: none; 
        color: #000000;
        font-weight: 700;
            
    }
    .icon__mobile-container 
    {
        height: 40px;
        width: 40px;
        position: absolute;
        left: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo__mobile
    {
        max-width: 42px;
        max-height: 40px;
    }
    .content-container
    {
        max-width: 852px;
    }
    h1 
    {
        font-size: 30px;
        text-align: center;
        line-height: 2.25rem;
    }
    .page 
    {
        padding: 0 20px;
    }
}
@media (width < 768px)
{
    
    .cards-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    }
    
    .cards-primary {
    width: 100%;
    max-width: none;

    }
    .card__title
    {
        max-width: none;
    }
    .card__text
    {
        max-width: none;
    }

    .banner-container
    {
        flex-direction: column;
        gap: 24px;
    }
    .texto-contenido
    {
        line-height: 1.625rem;
        font-size: 24px;
    }
    .payment-options--subtitle
    {
        font-size: 14px;
    }
    .header__buttonsec
    {
        width: 100%;
    }
    .payment-options-card
    {
        flex-direction: column-reverse;
    }
    .payment-options-card-title
    {
        font-size: 24px;
        margin-bottom: 16px;
    }
    .payment-options-card-subtitle
    {
        font-size: 16px;
    }
    .payment-options--image
    {
        max-width: none;
    }
    .header__buttonsec
    {
        width: 100%;
    }
    .content-container .footer__layout
    {
        align-items: center;

    }
    .footer__nav 
    {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    
    .footer__line
    {
        flex: 0 0 48%;
        margin-right: 0;
        margin-bottom: 24px;
    }
}
